<div class="container">
	<h3>Activity</h3>
	<table class='table'>
		<tr>
			<th>ChangedById</th>
			<th>ChangedByName</th>
			<th>ChangeType</th>
			<th>ChangedUser</th>
			<th>CreatedAt</th>
			<th>UpdatedAt</th>
			<th></th>
			<th></th>
		</tr>
		

		<% _.each(activities, function(activity) { %>
			<td><%- activity.changedById %></td>
			<td><%- activity.changedByName %></td>
			<% if (activity.typeOfChange === 'login') { %>
				<td><img src="/images/login.png"></td>
			<% } else if (activity.typeOfChange === 'logout') { %>
				<td> <img src="/images/logout.png"></td>
			<% } else if (activity.typeOfChange === 'delete') { %>
				<td><img src="/images/deletedUser.png"></td>
			<% } else if (activity.typeOfChange === 'added') { %>
				<td><img src="/images/addedUser.png"></td>
			<% } else if (activity.typeOfChange === 'edited') { %>
				<td><img src="/images/editedUser.png"></td>
			<% } %>
			<td><%- activity.changedUser %></td>
			<td><%- activity.createdAt %></td>
			<td><%- activity.updatedAt %></td>
		</tr> 
		<% }) %>
	</table>
	This is the total activities: <%- activitiesTotal %>

	<div class="pagination pull-right">
  <ul>
    <li><a href="/activity?skip=0">1</a></li>
    <li><a href="/activity?skip=10">2</a></li>
    <li><a href="/activity?skip=20">3</a></li>
  </ul>
</div>

</div>


