<div class="container">
	<h3>Activity</h3>
	<table class='table'>
		<tr>
			<th>ChangedById</th>
			<th>ChangedByName</th>
			<th>ChangeType</th>
			<th>ChangedUser</th>
			<th>CreatedAt</th>
			<th>UpdatedAt</th>
			<th></th>
			<th></th>
		</tr>
		

		<% _.each(activities, function(activity) { %>
			<td><%- activity.changedById %></td>
			<td><%- activity.changedByName %></td>
			<% if (activity.typeOfChange === 'login') { %>
				<td><img src="/images/login.png"></td>
			<% } else if (activity.typeOfChange === 'logout') { %>
				<td> <img src="/images/logout.png"></td>
			<% } else if (activity.typeOfChange === 'delete') { %>
				<td><img src="/images/deletedUser.png"></td>
			<% } else if (activity.typeOfChange === 'added') { %>
				<td><img src="/images/addedUser.png"></td>
			<% } else if (activity.typeOfChange === 'edited') { %>
				<td><img src="/images/editedUser.png"></td>
			<% } %>
			<td><%- activity.changedUser %></td>
			<td><%- activity.createdAt %></td>
			<td><%- activity.updatedAt %></td>
		</tr> 
		<% }) %>
	</table>

	<div class="pagination pull-right">
	<div>
	<% if (skip==='0') { %>
		1 <b>of</b> <%- +skip+10 %></div>
	<% } else { %>
		<% if ((activitiesTotal - +skip )< 10) { %>
			<%- skip %> <b>of</b> <%- activitiesTotal %></b></div>
		<% } else { %>
			<%- skip %> <b>of</b> <%- +skip+10 %></div>
		<% } %>
	<% } %>
	<div><b>Total Activities:</b> <%- activitiesTotal %></div>
  <ul>
  	<% for(var i=0; i<activitiesPages; i++) { %>
    <li><a href="/activity?skip=<%= i*activitiesLimit %>"><%= i+1 %></a></li>
    <% } %>
  </ul>
</div>

</div>


